/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --light-grey-color: #ebeced;
  --section-background-color: #f6f6f6;
  --section-margin: 100px;
  --main-duration: 0.3s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Mobile */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Small Screens */

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Medium Screens */

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Large Screens */

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* X Large Secreens */

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* End Global Rules */
/* Start Framework */
.special-heading {
  font-size: 100px;
  color: var(--light-grey-color, #ebeced);
  font-weight: 800;
  text-align: center;
  margin: 0;
  letter-spacing: -3px;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  color: #7979;
  text-align: center;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -15px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.paragraph-properties {
  line-height: 1.6;
  color: #777;
}
.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* End Framework */
/* Start Header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 60px;
}
header .links {
  position: relative;
}
header .links .burger-icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .links .burger-icon span {
  margin-bottom: 5px;
  background-color: var(--darkest-color, #333);
  height: 0.5px;
}
header .links .burger-icon span:first-child,
header .links .burger-icon span:last-child {
  width: 100%;
}
header .links .burger-icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration, 0.3s);
  -webkit-transition: var(--main-duration, 0.3s);
  -moz-transition: var(--main-duration, 0.3s);
  -ms-transition: var(--main-duration, 0.3s);
  -o-transition: var(--main-duration, 0.3s);
}
header .links .burger-icon:hover span:nth-child(2) {
  width: 100%;
}
header .links ul {
  padding: 15px;
  background-color: var(--section-background-color, #f6f6f6);
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  min-width: 200px;
  z-index: 1;
  display: none;
}
header .links:hover ul {
  display: block;
}
header .links ul::before {
  content: '';
  position: absolute;
  right: 5px;
  top: -20px;
  border-width: 10px;
  border-color: transparent transparent var(--section-background-color, #f6f6f6) transparent;
  border-style: solid;
}
header .links ul a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: var(--darkest-color, #333);
  transition: var(--main-duration, 0.3s);
  -webkit-transition: var(--main-duration, 0.3s);
  -moz-transition: var(--main-duration, 0.3s);
  -ms-transition: var(--main-duration, 0.3s);
  -o-transition: var(--main-duration, 0.3s);
}
header .links ul li a:hover {
  padding-left: 25px;
}
header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing Section */
.landing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.intro-text {
  position: relative;
  width: 320px;
  text-align: center;
  max-width: 100%;
}
.landing .landing-img {
  background-image: url(../imgs/landing.png);
  background-size: cover;
  height: 120px;
  width: 100%;
}
.landing .intro-text h1,
.landing .intro-text p {
  color: var(--main-color, #10cab7);
}
/* End Landing Section */
/* Start Features */
.features {
  background-color: var(--section-background-color, #f6f6f6);
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color, #10cab7);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0px;
}
.features .feat p {
  font-size: 17px;
}
/* End Features */
/* Start Services */
.services .services-content {
  margin-top: var(--section-margin, 100px);
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color, #10cab7);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  font-weight: 300;
}
.services .services-content .img {
  text-align: center;
  position: relative;
}
.services .services-content .img::before {
  content: '';
  position: absolute;
  right: 0;
  background-color: var(--secondary-color, #2c4755);
  top: -50px;
  height: calc(100% + 100px);
  width: 100px;
  z-index: -1;
}
@media (max-width: 1199px) {
  .services .services-content .img {
    display: none;
  }
}
.services .services-content .img img {
  width: 260px;
  height: 330px;
}
/* End Services */
/* Start Portfolio */
.portfolio {
  background-color: var(--section-background-color, #f6f6f6);
}
.portfolio .portfolio-content {
  margin-top: 80px;
}
.portfolio .portfolio-content .card {
  background-color: white;
  text-align: center;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card img {
  width: 100%;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
/* End Portfolio */
/* Start About */
.about .about-content {
  margin-top: var(--section-margin, 100px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .img {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .about-content .img::before {
  content: '';
  position: absolute;
  background-color: var(--secondary-color, #2c4755);
  top: -40px;
  height: calc(100% + 80px);
  width: 100px;
  z-index: -1;
  left: -20px;
  background-color: var(--light-grey-color, #ebeced);
}
.about .about-content .img::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color, #10cab7);
  border-bottom: 80px solid var(--main-color, #10cab7);
  z-index: -1;
  right: -150px;
  top: -30px;
}
@media (max-width: 991px) {
  .about .about-content .img::before,
  .about .about-content .img::after {
    display: none;
  }
}
.about .about-content .img img {
  max-width: 100%;
  min-height: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-child {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  display: inline-block;
  width: 50%;
  border-color: var(--main-color, #10cab7);
}
/* End About */
/* Start Contact */
.contact {
  background-color: var(--section-background-color, #f6f6f6);
}
.contact .info {
  text-align: center;
}
.contact .info > p:only-of-type:first-child {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color, #2c4755);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info > a:only-of-type:nth-child(2) {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color, #10cab7);
  text-decoration: none;
}
@media (max-width: 767px) {
  .contact .info > p:only-of-type:first-child,
  .contact .info > a:only-of-type:nth-child(2) {
    font-size: 25px;
  }
}
.contact .info > div:only-of-type:last-child {
  margin-top: 20px;
  font-size: 16px;
}
/* End Contact */
/* Start Footer */
footer {
  background-color: var(--secondary-color, #2c4755);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
footer span {
  font-weight: bold;
  color: var(--main-color, #10cab7);
}
/* End Footer */